@model HostedPayments.CSharp.Infrastructure.PaymentResponse

@{
    ViewBag.Title = "Complete";
}

<script>

    // A more cryptic one-liner, to awe & impress.
    //
    // No need to protect `window` since `this` is
    // immutable, and at the topmost level means
    // `window` anyways. Here, we compare locations
    // on the left side of the "&&" and execute the
    // code in parenthesis if that condition is
    // true (top location isn't iframe location).
    //
    // Otherwise, nothing happens. It's basically an
    // if statement without wrapping curly brackets.
    //
    // Weird, I know. But pretty cool, right? :)

    this.top.location !== this.location && (this.top.location = this.location);

</script>




<div class="container">

    <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
        <h2>Payment Response Details</h2>
        <table class="table thumbnail">
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.ApprovalNumber)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ApprovalNumber)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.ApprovedAmount)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ApprovedAmount)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.AVSResponseCode)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.AVSResponseCode)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.CardLogo)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.CardLogo)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.CommercialCardResponseCode)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.CommercialCardResponseCode)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.CVVResponseCode)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.CVVResponseCode)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.ExpressResponseCode)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ExpressResponseCode)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.ExpressResponseMessage)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ExpressResponseMessage)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.HostedPaymentStatus)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.HostedPaymentStatus)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.LastFour)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastFour)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.PaymentAccountID)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PaymentAccountID)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.ServicesID)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ServicesID)
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.TipAmount)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.TipAmount)
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
            <div class="">
                <input type="button" class="btn btn-buy" onclick="location.href='/Home';" value="Home" />
            </div>
        </div>
    </div>

</div>